# Node modules
node_modules/

# Local data and test artifacts
data/*.json

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jest coverage
coverage/


.github/
.wwebjs_auth/
.wwebjs_cache